This notebook will be my project for Coursera Capstone Class.

In [3]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [10]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib.request

Getting the required webpage.

In [15]:
contents = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").read()
soup = BeautifulSoup(contents, "lxml")

Retrieving only the required information.

In [14]:
table = soup.find('table')
tb = table.find('tbody')
linhas = tb.find_all('tr')
lista =[]
for linha in linhas:
    elementos = linha.find_all('td')
    listinha =[]
    for elemento in elementos:
        listinha.append(elemento.string)
    lista.append(listinha)
df = pd.DataFrame(lista, columns=['Postcode','Borough','Neighbourhood'])
df.head(10)

  Postcode           Borough  Neighbourhood
0     None              None           None
1      M1A      Not assigned  Not assigned

2      M2A      Not assigned  Not assigned

3      M3A        North York           None
4      M4A        North York           None
5      M5A  Downtown Toronto           None
6      M5A  Downtown Toronto           None
7      M6A        North York           None
8      M6A        North York           None
9      M7A      Queen's Park  Not assigned

Organizing the data.

In [19]:
df =df.dropna()
df['Neighbourhood']= df['Neighbourhood'].str.rstrip(']\n')
df['Borough']=df['Borough'].str.rstrip()
df = df[(df != "Not assigned").all(axis =1)]
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join)
df = pd.DataFrame({"Postcode":df.index.get_level_values("Postcode"), "Borough":df.index.get_level_values(
"Borough"), "Neighbourhood":df.values})
df.head(5)

       Borough             Neighbourhood Postcode
0  Scarborough                 Guildwood      M1E
1  Scarborough      East Birchmount Park      M1K
2  Scarborough  Scarborough Village West      M1M
3  Scarborough            Cliffside West      M1N
4  Scarborough  Clarks Corners, Sullivan      M1T

In [18]:
df.shape

(54, 3)